<div class="banner">
    <h1>About</h1>
    <h5>Web Business Creator Agency</h5>
    <a class="btn" href="#">Apply now</a>
  <div class="container-center">
  <div class="container-left">
    <%= image_tag("lewagon-bg.png", style: "height:500px ;width:auto;") =%>
  </div>
  </div>
</div>

<section class="about-me">
  <div class="container-center">
    <div class="container-left">
      <h2 style="color:#79b5c0;" class="primary-title"><strong>About Me</strong></h2>
      <h2><strong>Hello, I am Jan, Freelance Fullstack - Web Developer</strong></h2>
      <br><h5><em>Full - Service Webbusinesscreator</em></h5><br><p>I started with a dream of working as digital nomad and as a Junior Full Stack Web Developer
      <br>as of ot the student's at world's best coding Bootcamp at Le Wagon.
      <br>After finished successful the Bootcamp, i started my freelance carrer
       as a digital Nomad Web Developer<br>
      and worked for Customers from Mexico. Now I am expand my Business and helping<br>
      all people, Businesses<br>and Start-Ups all over the world to build a
      successful Web-Business for Enterpreneurs, Freelancers, Coaches,
      or passive Income Creators.
      </p>
      <a class="btn" href="https://calendly.com/workwithjanpeter/web-development" target="_blank">Jetzt Creator Call buchen</a>
    </div>
    <div class="container-right">
      <div class="card-white">
        <h3 style="color:#79b5c0;" class="primary-title"><strong>Jan Peter</strong></h3>
        <div class="img-circle">
        <img id="how-it-works" class="img-circle" src="/assets/circle-cropped.png" alt="How it works">
        <p id="introduction">
        <span><strong>👨‍💻Full Stack Rails Developer</strong></span>
        <span><i>Full Service Webbusinesscreator</i></span>
        <span>🌍 Digital Nomad</span></p>
        <div class="skills">
				  <span>HTML</span> <span>CSS</span> <span>Javascript</span>
          <span>Ruby</span> <span>Rails</span> <span>SQL,PostgreSQL</span>
			  </div>
        <a class="cta btn" role="button" href="https://www.linkedin.com/in/jan-peter-webdeveloper/" target="_blank">Hire Me</a>
        <footer>
          <h3><b>Follow me @</b></h3>
          <div class="list-inline">
          <a class="list-inline-item" href="https://github.com/JanPeterLeWebdeveloper/" target="_blank"><i class="fab fa-github"></i></a>
          <a class="list-inline-item" href="https://www.instagram.com/webbusinesscreator" target="_blank"><i class="fab fa-instagram"></i></a>
          <a class="list-inline-item" href="https://www.linkedin.com/in/jan-peter-webdeveloper/" target="_blank"><i class="fab fa-linkedin"></i></a>
          </div>
        </footer>
      </div>
    </div>
  </div>
</section>

<section class="developer-evolution">
  <p>
  <h2 style="color:#79b5c0;" class="primary-title"><strong><i>The Journey of a Developer</i></strong></h2>
  </p>
  <div class="image-gallery">
    <div>
      <%= image_tag("lewagon.webp", style: "height:300px ;width:300px;") =%>
    </div>
    <div>
      <%= image_tag("ndhXrw_Q.jpeg", style: "height:300px ;width:300px;") =%>
    </div>
    <div>
      <%= image_tag("nRxxl1aQ.jpeg", style: "height:300px ;width:300px;") =%>
    </div>
    <div>
      <%= image_tag("WhatsApp Image 2022-06-25 at 17.12.03 (1).jpeg", style: "height:300px ;width:300px;") =%>
    </div>
  </div>
<section>

<section class="two-texts">
<div class="container-center">
  <div class="container-left">
  <h3 class="primary-title"><strong>My Vision</strong></h3>
  <p>I am Building Web-Businesses for Company's to grow <br>
  and for Employee's who want to break free from their 9 to 5 rat race.
  <br> Become an Freelancer, Enterpreneur, Digital Nomad or get build an Web-Business for passive Income to
  your Full-time Employment.
  <br><strong><i>I learned to code to change Life's by Le Wagon.</strong></i></p>
  </div>
  <div class="container-right">
  <ol>
  <li><h4><strong>We make your Business great again!</strong></h4></li>
  <li><h4><strong>We build your dream Business, <br> make it work for you!</strong></h4></li>
  <li><h4><strong>We support "THE NEW WORK: <br>   LIFE - WORK - BALANCE:<br>
  Work from everywhere you prefer, matching your daily Life schedule!</strong></h4></li>
  </ol>
</div>
</section>

<section class="text-ablauf">
  <div class="image-gallery">
    <div>
    <i class="fa-regular fa-lightbulb"></i>
    <span>DEFINE</span>
    <p>Define your Business Name and Logo</p>
    </div>

    <div>
    <i class="fa-solid fa-palette"></i>
    <span>DESIGN</span>
    <p>Prebuild your Website in Figma and
    <br>set your User-Stories (UX/UI Design)</p>
    <p>We will build you the first draft in Wordpress
    or Rails</p>
    </div>

    <div>
    <i class="fa-solid fa-gear"></i>
    <span>REFINE</span>
      <p>We build your second draft to your Website.</p>
    </div>

    <div>
    <i class="fa-solid fa-laptop"></i>
    <span>FINAL PRODUCTION</span>
    <p>We finish your WEB BUSINESS and show you how to use it.</p>
    <p>Get a free Online course to further Website use.</p>
    </div>
  </div>
</section>

<section class="experiences">
 <%= image_tag("web-dev-19.jpg") =%>
</section>

