<div class="banner">
    <h1>Online Course-Section</h1>
    <h5>Full Service Web Design Agency</h5>
    <!--<p><em>We build your Freedom tool</em></p>-->
    <p><span data-controller="typed-js"></span></p>
    <a class="btn" href="https://calendly.com/workwithjanpeter/web-development">Apply now</a>
</div>

<div class="container">
    <p>
    <h2 class="section-title"><strong>German Online Courses / Deutsche Kurse</strong></h2>
    </p>
  <div class="cards">
    <!-- Divi - Course -->
    <div class="card-trip">
    <%= image_tag("divicourse.jpg", class: "menu_icon") =%>
    <div class="card-trip-infos">
    <div>
      <h2>Divi-Online Kurs auf Deutsch</h2>
      <p>Lerne alle Notwendigen, um deine Webseite selbst zu steuern und zu verwalten.</p>
    </div>
    <h2 class="card-trip-pricing">0,00€, free</h2>
    <%= image_tag("me.png", class: "card-trip-user avatar-bordered") =%>
    </div>
    </div>
    <!-- Ruby on Rails Project -->
    <div class="card-trip">
    <%= image_tag("moneyonline.jpg", class: "menu_icon") =%>
    <div class="card-trip-infos">
    <div>
      <h2>Online Geld verdienen </h2>
      <p>Lerne Möglichkeiten kennen, um jetzt online Geld zu verdienen.</p>
    </div>
    <h2 class="card-trip-pricing">€0,00, free </h2>
    <%= image_tag("me.png", class: "card-trip-user avatar-bordered") =%>
    </div>
    </div>

    <!-- Starter Package -->
    <div class="card-trip">
    <a href="https://www.checkout-ds24.com/product/445766/146269/">
    <%= image_tag("dncourse.png", class: "menu_icon") =%>
    <div class="card-trip-infos">
    <div>
      <h2>Mutausbruch/Courage-Outbreak</h2>
      <p>Digital Nomad Starter Course, start your career here.</p>
    </div>
    <h2 class="card-trip-pricing">€499,99/1</h2>
    <%= image_tag("me.png", class: "card-trip-user avatar-bordered") =%>
    </a>
    </div>
    </div>

  </div>
</div>
