<div class="banner">
    <h1>Web-Services</h1>
    <h5>Choose your option</h5>
    <a class="btn" href="#">Apply now</a>
</div>

<div class="container">
    <p>
    <h2 class="section-title"><strong>Wordpress-Options</strong></h2>
    </p>
  <div class="cards">

    <!-- Hosting -->
    <div id="card-blue">
      <i class="fa-solid fa-laptop-code"></i>
      <h2><b>Hosting-Care-Package</b></h2>
      <p>I support and manage your Hosting of your Website with my own Namecheap package.</p>
       <a class="btn" href="https://www.digistore24.com/product/438563/144773" target="_blank" >Book it now</a>
    </div>

    <!-- Landingpage -->
    <div id="card-sand">
      <i class="fa-brands fa-wordpress"></i>
      <h2><b>Selling Landingpage</b></h2>
      <p>A wordpress - Divi Landingpage for your product or service.</p>
      <a class="btn" href="https://www.checkout-ds24.com/product/441260/144774/" target="_blank" >Book it now</a>
    </div>

    <!-- Mitgliederbereich -->
    <div class="card-darkblue">
      <i class="fa-solid fa-handshake-angle"></i>
      <h2><b>Wordpress Memberarea for your Community</b></h2>
      <p>I build your via Divi and Wordpress your Member-Area for your Online Course.</p>
        <a class="btn" href="https://www.checkout-ds24.com/product/438564/144772/" target="_blank">Book it now</a>
    </div>
  </div>
</div>
</section>
<div class="container">
<p><b>You have your personal Request/Inquiry?</b></p>
<a class="btn" href="https://calendly.com/workwithjanpeter/web-development">Contact Me</a>
</div>

<div class="container">
    <p>
    <h2 class="section-title"><strong>Programming Options</strong></h2>
    </p>
  <div class="cards">
    <!-- Programmieren -->
    <div class="card-trip">
    <%= image_tag("code.webp", class: "menu_icon") =%>
    <div class="card-trip-infos">
    <div>
      <h2>Web-Coding Service</h2>
      <p>Ich stehe dir für Programmier Arbeiten  oder Virtual Assistant Web-Design zur Verfügung.</p>
    </div>
    <h2 class="card-trip-pricing">€80,00/h</h2>
    <%= image_tag("me.png", class: "card-trip-user avatar-bordered") =%>
    </div>
    </div>
    <!-- Ruby on Rails Project -->
    <div class="card-trip">
    <%= image_tag("programmproject.png", class: "menu_icon") =%>
    <div class="card-trip-infos">
    <div>
      <h2>Ruby on Rails Project </h2>
      <p>Ich programmiere dir deine Idee als App und Webseite durch Ruby on Rails</p>
    </div>
    <h2 class="card-trip-pricing">€3000/1</h2>
    <%= image_tag("me.png", class: "card-trip-user avatar-bordered") =%>
    </div>
    </div>

    <!-- Starter Package -->
    <div class="card-trip">
    <a href="https://www.checkout-ds24.com/product/445766/146269/">
    <%= image_tag("workhard.jpg", class: "menu_icon") =%>
    <div class="card-trip-infos">
    <div>
      <h2>Starter-Package</h2>
      <p>Don't know where to begin? Starter package have all included for you.</p>
    </div>
    <h2 class="card-trip-pricing">€1111/1</h2>
    <%= image_tag("me.png", class: "card-trip-user avatar-bordered") =%>
    </a>
    </div>
    </div>

  </div>
</div>


